/*
            ** Sumary **
                
            - Global styles
            - Header
            - Main 
                > Numbers section
                > Grow section
                > Flowing section
                > Users section
                > Ready section
            - Footer
*/

        /* ===============                                   
            Global styles
        ================== */

* {
    box-sizing: border-box;
}

body {
    padding: 1.5em 0 0 0;
    margin: 0;
}

        /* ==========
          Typography
          ==========   */

.front-describe,
.grow-describe,
.flowing-describe,
.user-describe {
    opacity: .9;
}


        /*========
          HEADER 
         ========*/
.front-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    margin: 0 auto;
}


.logo {
    width: 25vw;
    max-width: 16rem;
}

.free-btn {
    background-color: white;
    opacity: .9;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 2rem;
    box-shadow: 2px 2px 10px hsl(325, 18%, 79%);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: hsl(322, 100%, 66%); 
    font-size: .6rem;
    margin: 0;
    padding: 0.5em 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



.free-btn:hover {
    opacity: .6;
    box-shadow: 2px -2px 5px hsl(324, 37%, 83%) ;
    transition: 0.3s;
}

.front-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.front-describe {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    line-height: 1.3rem;
    margin: 0 auto 4em auto;
    max-width: 590px;
}

.front-banner {
    text-align: center;
    margin: 5em auto;
    padding: 0 2.5em;
   
}

.started-link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: .75rem;
    font-weight: 600;
    background-color: hsl(322, 100%, 66%);
    color: white;
    padding: .8em 2.5em;
    border-radius: 2rem;
    box-shadow: 3px 3px 2px hsl(326, 21%, 94%);
    opacity: .9;
}

.started-link:hover {
    opacity: .7;
    box-shadow: 3px 3px 2px hsl(324, 18%, 68%);
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
        /* =========
            MAIN
          =========    */

/* Numbers section
=================== */

.screen {
    max-width:1100px;
    margin: 0 auto;
}

.screen img {
    width: 100%;
    padding: 0 2em;

}

.cifre {
    width: max-content;
    margin: 7em auto 0 auto   ;
    text-align: left;
    display: grid;
    gap: 6em;
}

.cifra-com,
.cifra-msg {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
}

.cifra-msg {
    font-size: 3rem;
}

.formed,
.sent {
    font-family: 'Poppins', sans-serif;
    opacity: .4;
    font-size: 0.85rem;
    margin: 0;
}

.sent {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-size: .75rem;
}

.icon-com img {
    width: 1.8rem;
}

.icon-msg img {
    width: 1.5rem;
}

.grow img {
    width: 75%;
}

/* Grow section
=============== */
.grow-title,
.grow-describe {
    font-family: 'Poppins', sans-serif;
 
}

.grow-title {
    font-size: 1.2rem;
}   

.grow-text {
    margin-top: 3.5rem;
}

.grow-describe {
    font-size: 0.8rem;
    font-weight: 500;
    width: 83%;
    max-width: 600px;
    margin: 0 auto;
}

.grow-container {
    text-align: center;
}

.bgtm1 {
    width: 100%;
    margin-bottom: -5px;
}

.grow-section {
    background-color: #F6FBFF;
    margin: 0;
    padding-top: 5em;
    padding-bottom: 3em;

}

.bgbm1 {
    width: 100%;
    
}

/* Flowing section
=================== */

.flowing {
    padding: 0 1.7em;
    text-align: center;
    margin: 5em auto;
    font-family: 'Poppins', sans-serif;
}

.flowing-img img {
    width: 80%;
    margin: 4em auto;
}

.flowing-img {
    max-width: 700px;
    margin: 0 auto;
}

.flowing-title {
    font-size: 1.2rem;

}

.flowing-describe {
    font-size: 0.8rem;   
    max-width: 600px;
    margin: 0 auto;

}

/* Users section
================= */

.user-section img {
    width: 100%;
}

.user-img {
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 4em;
}

.user {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #F6FBFF;
    padding-top: 1em;
}

.bg-top-2 {
    margin-bottom: -5px;
}

.user-text {
    padding: 1em 2em 5em 2em;
}

.user-title {
    font-size: 1.2rem;
   
}

.user-describe {
    font-size: 0.8rem;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 2em;
}

/* Ready section
================ */

.ready {
    font-family: 'Poppins', sans-serif;
    margin: 1.7em 0;
}

.ready-section {
    text-align: center;
    margin-bottom: 15em;
    margin-top: 1em;
}

.bg-footer {
    width: 100%;
    margin-bottom: -6px;
}

        /* ========
           FOOTER
          ========  */

footer {
    color: white;
    background: #00252E;
    font-family: 'Open Sans', sans-serif;
    padding: 2em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.text {
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
}

.text-email input:invalid:focus {
    outline:2px solid red;
}
    
.btn-subs {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
    background-color: hsl(322, 100%, 66%) ;
    border: none;
    height: 3rem;
    width: 9em;
    border-radius: 5px;
    
}

.btn-subs:hover {
    background-color: hsl(323, 94%, 81%);
}

.submit {
    align-self: flex-end;
}

footer p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.about {
    margin: 6em 0 2em 0;
}

.footer-logo img {
    width: 13rem;
}

.phone,
.mail {
    display: flex;
    gap: 1em;
    align-items: center;
    height: 2.5rem;
}

.contact img {
    height: 1rem;
}

.contact {
    margin-bottom: 2em;
}

.social {
    display: flex;
    gap: 1em;
}

.facebook:hover img {
    filter: invert(0.34) sepia(1) saturate(14.9) hue-rotate(180deg) brightness(0.99);
}
.insta:hover img {
    filter: invert(0.27) sepia(1) saturate(10.6) hue-rotate(252deg) brightness(0.99);
}
.twitter:hover img {
    filter: invert(0.4) sepia(1) saturate(20) hue-rotate(180deg) brightness(0.91);
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin: 2em 0 -2em 0; 
    color: white;
    padding: 2em 0;
    background-color: #00252E;
}
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width:851px) {
    body {
        padding: 5rem 0 0 0;
    }

            /*====== 
            HEADER 
            ========*/
    .front-bar {
        padding: 0 4em
    }
  

    .free-btn {
        width: 8.8rem;
        height: 2.6rem;
        font-size: .8rem;
        margin-left: 2rem;
    }
    .free-btn a {
        font-size: 1rem;
    }

    .front-title {
        font-size: 2.9rem;
        max-width: 1200px;
        margin: 5em auto 0 auto;
    }

    .front-describe {
        font-size: 1.2rem;
        margin:1.8em auto ;
        line-height: 1.7rem;
    }

    .started-link  {
        display: inline-block;
        width: 24rem;
        height: 4.5rem;
        margin: 1em auto;
        font-size: 1.2rem;
        font-weight: 600;
        padding-top: 1.3em;
        border-radius: 4rem;
    }

            /* ========
                MAIN
            ========== */

    /* Numbers section
    ==================== */
            
    .cifre {
        width: 75vw;
        display: flex;
        justify-content: space-around;
        margin-bottom: 7em;
    }        
    .cifra-com,
    .cifra-msg {
        font-size: 6rem;
    }

    .sent, 
    .formed {
        font-size: 1.3rem;
        width: 100%;
    }

    /* Grow section
    ================ */
    .grow-section {
        display: flex;
        flex-direction: row-reverse;

    }

    .grow,
    .grow-tog {
        flex: 1;
        text-align: left;
    }
    .grow-text {
        margin: 0;
    }
    .grow-tog {
        display: grid;
        align-items: center;
        padding-left: 7em;
    }


    .grow-title {
        font-size: 2.5rem;
    }
    .grow-describe{
        font-size: 1rem;
        width: 80%;
        line-height: 1.6rem;
        margin: 0;
    }

    /* Flowing section
    ================== */

    .flowing {
        display: flex;
        padding: 0 5em;
        gap: 3em;
    }
    .flowing-img,
    .flowing-text {
        flex: 1;
    }

    .flowing-text {
        display: grid;
        align-items: center;
        text-align: left;
        
    }

    .flowing-title {
        align-self: self-end;
        font-size: 2.5rem;
    }

    .flowing-describe {
        align-self: self-start;
        font-size: 1rem;
        margin: 0;
        width: 95%;
        line-height: 1.6rem;
    }


    /* Users section
    ================= */

    .user {
        display: flex;
        flex-direction: row-reverse;
        gap: 3em;
        padding: 0 6em;
    }

    .user-img,
    .user-text {
        flex: 1;
    }
    .user-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    .user-title {
        font-size: 2.5rem;
    }

    .user-describe {
        font-size: 1rem;
    }


    /* Ready section
    ================= */

    .ready {
        font-size: 2.5rem;
    }
    .ready-section {
        margin: 7em auto;
    }

            /* ===========
                FOOTER
            ================= */

    .footer-section {
        display: flex;
        flex-direction: row-reverse;
        padding: 3em 8em;
    }        
    .footer-left {
        padding-top: 1.5em;
    }
    .subscribe,
    .footer-left {
        flex: 1;
    }
    .footer-describe,
    .news-describe {
        width: 55%;
    }
    .social {
        margin-top: 4em;
        gap: 1.5em;
    }
    .social img {
        width: 1.9rem;
    }
    form {
        flex-direction: row;
        gap: 3em;
    }

    .text-email {
        flex-grow: 2;
        margin-top: 2em;
    }
    .submit {
        justify-self: end;
    }

    .subscribe {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}   
    








